body {
  font-size: 28px;
  background-color: #2a3033;
  color: #fcfff7;
}

body > div {
  width: 92vw;
  max-width: 92vw;
  overflow: scroll;
  margin: 0px auto;
}

body > div:not(.title) {
  margin-bottom: 70px;
}

.title {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 8px 8px 0px 0px;
  font-style: italic;
  text-align: center;
  padding: 8px 4px;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 600px;
  column-gap: 26px;
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 8px;
}

.choice {
  margin: 16px 8px;
  padding: 10px;
  border: 2px dotted #eaffd1;
  border-radius: 12px;
  height: 400px;
  overflow: scroll;
}