body {
  font-size: 20px;
  background-color: #2a3033;
  color: #fcfff7;
}

.container, .title, .divider {
  width: 92vw;
  max-width: 92vw;
  overflow: scroll;
  margin: 0px auto;
}

.divider {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 16px;
  background-color: #eaffd1;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.title {
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-radius: 16px 16px 0px 0px;
  font-style: italic;
  text-align: center;
  padding: 8px 0px;
  color: #2a3033;
  background-color: #fcfff7;
  font-weight: bold;
}

.container {
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 8px;
  margin-bottom: 70px;
  max-height: 750px;
  overflow: scroll;
}

.container:has(.choice) {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 600px;
  column-gap: 26px;
}

.choice {
  margin: 16px 8px;
  padding: 10px;
  border: 2px dotted #eaffd1;
  border-radius: 12px;
  max-height: 710px;
  overflow: scroll;
}