body {
  font-size: 28px;
}

body > div {
  width: 90vw;
  max-width: 90vw;
  overflow: scroll;
}

.container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 600px;
  column-gap: 26px;
  padding: 16px;
  border: 2px solid #000;
  border-radius: 8px;
  margin: 30px 4px;
}

.choice {
  margin; 16px 8px;
  padding: 10px;
  border: 2px dotted #090909;
  border-radius: 12px;
  height: 400px;
  overflow: scroll;
}